/* Centrare la container sia orizzontalmente che verticalmente */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9; /* Colore di sfondo delicato */
}

.container {
    width: 40%;
    height: 75vh;
    border: 2px solid #007bff; /* Colore del bordo blu */
    border-radius: 15px; /* Rendi il bordo più arrotondato */
    padding: 2%;
    background-color: #fff; /* Sfondo bianco per la container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi una leggera ombra */
    text-align: center;
}

.container img {
    width: 30%;
    margin-bottom: 20%; /* Spazio tra il logo e i campi */
    margin-top: 5%;
}

.container input, .container button {
    width: 100%;
    margin-bottom: 10px; /* Aggiungi margine tra i campi */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px; /* Arrotonda i bordi dei campi */
}

.container button {
    background-color: #007bff; /* Colore blu per il pulsante */
    color: white;
    border: none;
    cursor: pointer;
}

.container button:hover {
    background-color: #0056b3; /* Colore al passaggio del mouse */
}

/* Aggiungi un po' di spaziatura in basso */
body {
    padding-bottom: 20px;
}

/* Smartphone (portrait e landscape) */
@media (max-width: 600px) {
    .container {
        width: 90%; /* Aumenta la larghezza della container su schermi più piccoli */
        max-width: 90%; /* Limita la larghezza massima al 90% */
        padding: 15px;
    }

    .container img {
        width: 50%; /* Riduce ulteriormente la larghezza dell'immagine */
        max-width: 120px; /* Imposta una larghezza massima per il logo */
    }

    .container input, .container button {
        padding: 10px;
        font-size: 14px; /* Diminuisce leggermente la dimensione del testo sugli schermi piccoli */
    }
}

/* Tablet (orizzontale e verticale) */
@media (max-width: 768px) {
    .container {
        width: 70%; /* Riduce la larghezza per tablet */
    }

    .container img {
        width: 55%; /* Logo un po' più grande rispetto agli smartphone */
        max-width: 130px;
    }

    .container input, .container button {
        padding: 11px;
        font-size: 15px;
    }
}